USE [master]
GO
/****** Object:  Database [BankAccount]    Script Date: 4/11/2018 10:04:36 AM ******/
CREATE DATABASE [BankAccount]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankAccount', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\BankAccount.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BankAccount_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\BankAccount_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankAccount].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankAccount]
GO
USE [BankAccount]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 4/11/2018 10:04:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime] NULL,
	[AccountNumber] [nchar](10) NULL,
	[AmountChanged] [money] NULL,
	[Action] [nchar](10) NULL,
	[NewAmount] [money] NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
